.progress1 {
  width: 200px;
  height: 200px;
  /* border: 10px solid grey; */
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background: conic-gradient(green 3.6deg, white 0deg);
}
/* .content {
  transform: rotate(-45deg);
} */

.content {
  font-size: 20px;
  font-weight: 900;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
