#div1 {
  width: 200px;
  height: 200px;
  margin: 15px;
  background-color: aqua;
}
#div2 {
  width: 200px;
  height: 200px;
  margin: 15px;
  background-color: rgba(0, 255, 255, 0.296);
  /* visibility: hidden; */
  display: none;
}
#div3 {
  width: 200px;
  height: 200px;
  margin: 15px;
  background-color: rgba(0, 255, 157, 0.605);
}
